@font-face {
  font-family: 'fontejogo';
  src:url('fonte.ttf')  
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #E8D030;
}

html,body {
  height: 100%;
}


body {
    font-family: 'fontejogo' , cursive;
    background-color:#0033cc ;
    text-align: center;
    scroll-behavior: smooth;
  }


  
header {
  width: 100%;
  background-color: #283097;
  height: 100px;
  position: fixed;

}

.logo {
  width: calc(12% - 6px);
  height: 100%;
  float: left;
  background-image: url('img/bomber_title.png');
  background-size: 100% 100%;
  border: solid 3px #0033cc00;
  background-repeat: no-repeat;
  
}

nav{
  float: right;
  width: 80%;
  padding-top:calc(2.5% - 17px );
  padding: -10px;
  text-align: right;
}


.clear {
  clear:both;
}

nav ul li {
  display: inline-block;
  margin-right: 3%;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  margin-top: 12px;
}

#descrição {
 width: 100%;
 padding-top: 10%; 
}

#descrição section {
  border: solid 10px #0033cc00;
}

  h2 {
    font-family: 'fontejogo';
    font-size: 64px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  h3 {
    font-family: 'fontejogo', cursive;
    margin: 20px;
    font-size: 30px;
  }

  ul {
    list-style: none;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 16px;
    margin: 20px 0;
  }

  video {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

.description-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.poderes {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.poderes div{
  padding: 20px;
}

.avaliação{
  display: flex;
  width: 100%;
  justify-content: center;
  display: block;
}

.avaliação .avaliação-1-e-2 {
  display: inline-flex;
  margin-bottom: 10px;
 
}

.avaliação figure{
  margin: 20px;
}

.avaliação .avaliação-3-e-4{
  display: inline-flex;
  margin-bottom: 10px;
}

.avaliação .avaliação-5-e-6{
  display: inline-flex;
  margin-bottom: 10px;
}

.avaliação .avaliação-7-e-8{
  display: inline-flex;
  margin-bottom: 10px;
}

.avaliação .avaliação-9-e-10{
  display: inline-flex;
  margin-bottom: 10px;
}


.border {
  border-right: 1px solid rgb(165, 168, 207);
}

#video {
  width: 100%;
}

.image-container {
  display: flex;
}

.image-container p {
  margin: 7px;
}

.image-box {
  text-align: center;
  margin: 0 auto;
}

.rounded-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.tabela-container {
  margin: 0 150px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.coluna1 {
  width: 20%;
  height: 50px;
  border: 1px solid rgb(165, 168, 207);
}

.coluna2 {
  width: 80%;
  height: 50px;
  border: 1px solid rgb(165, 168, 207);
}

nav ul li:hover {
  background-color: rgba(104, 176, 239, 0.482); 
}

.instruções ol{
  font-family: Arial, Helvetica, sans-serif;
  list-style: decimal;
  margin: 10px;
  text-align: justify;
  padding: 10px 40px;
}

.instruções ol li{
  margin: 10px;
}

.instruções {
  display: flex;
  align-items: center;
  flex-direction: column;
}

a {
  color: #E8D030; 
  text-decoration: underline; 
}

.footer{
  background-color: #283097;
  height: 100px;
  margin-top: 15px; 
  align-items: end;
  display: flex;
  justify-content: space-around;
}

.footer figure{
  right: 0;
  position: absolute;
  margin: 0px 15px 15px 15px;

}

footer p {
  /* color: #E8D030; */
  text-align: center;
  

}