@font-face {
  font-family: 'fontejogo';
  src:url('fonte.ttf')  
}

*{
  box-sizing: border-box;
}

body {
    font-family: 'fontejogo' , cursive;
    background-color: #89bed8;
    text-align: center;
  }
  

  h2 {
    font-family: 'fontejogo';
    font-size: 64px
  }

  h3 {
    font-family: 'Retro Gaming', cursive;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif, cursive;
    font-size: 16px;
  }

  video {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  

.description-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.poderes {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: start;
}

.poderes div{
  padding: 20px;
}

.border {
  border-right: 1px solid black;
}
